a {
    color: white;
    text-decoration: none;
}

.firstLoadHint {
    font-size: medium;
    opacity: 0;
    position: absolute;
    top: -20px;
    background-color: var(--board-square-angle-background);
    color: white;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-animation-name: fade_out;
    -webkit-animation-duration: 7000ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -moz-animation-name: fade_out;
    -moz-animation-duration: 7000ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -ms-animation-name: fade_out;
    -ms-animation-duration: 7000ms;
    -ms-animation-iteration-count: 1;
    -ms-animation-timing-function: ease-in;
}

.firstLoadHint.low {
    top: -10px;
}

.firstLoadHint.low.left {
    left: -10px;
}

.firstLoadHint.low.left:after {
    left: 70%;
}

.firstLoadHint:after {
    border-right: solid 5px transparent;
    border-left: solid 5px transparent;
    border-top: solid 5px var(--board-square-angle-background);
    transform: translateX(-50%);
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 50%;
    height: 0;
    width: 0;
}

@-moz-keyframes fade_out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes fade_out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fade_out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.themeToggle {
    display: flex;
}

.themeToggleLabel {
    flex-grow: 1;
}

.switch-field {
    display: flex;
    overflow: hidden;
    float: right;
    border-radius: 10px;
}

.switch-field > div {
    background-color: var(--app-background-color);
    color: var(--menu-bar-background-color);
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 4px 8px;
    margin-right: -1px;
    border: none;
    box-shadow: none;
    transition: all 0.1s ease-in-out;
}

.switch-field > div.selected {
    background-color: white;
}
