body {
  content: "";
  display: table;
  clear: both;
  background: var(--app-background-color);
  overflow: hidden;
}

.boardWrapper {
    height: calc(100vh - 64px)
}

.App {
    height: 100vh;
}

@-moz-keyframes fade_out {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-webkit-keyframes fade_out {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fade_out {
    from { opacity: 0; }
    to { opacity: 1; }
}

.hiddenAlertMessage {
  visibility: hidden;
}

.visibleAlertMessage {
  opacity: 0;
  -webkit-animation-name: fade_out;
  -webkit-animation-duration: 6000ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-name: fade_out;
  -moz-animation-duration: 6000ms;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-in;
  -ms-animation-name: fade_out;
  -ms-animation-duration: 6000ms;
  -ms-animation-iteration-count: 1;
  -ms-animation-timing-function: ease-in;
}
