.Board {
    height: 100%;
    width: calc(100vw);
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.splash-screen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 9001;
}

.splash-screen > .loading-dot-container {
    background-color: black;
    opacity: 0.6;
    padding: 30px;
    border-radius: 50%;
}

.splash-screen > .loading-dot-container > .loading-dot {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    font-size: 4em;
    color: var(--board-square-player-background);
}

.hidden {
    display: none;
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Board > .firstLoadHint {
    background-color: transparent;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.Board > .firstLoadHint:after {
    border: none;
}