
.square {
    width: 20px;
    height: 20px;
    margin: 2px;
    border: 1px solid var(--board-square-border);
    background: var(--board-square-background);
    opacity: 0.4;
}

.square.PORTAL {
    background-color: transparent;
    border-width: 3px;
    border-radius: 50%;
    margin: 1px;
    width: 18px;
    height: 18px;
    opacity: 1;
}

.square.ROCK {
    background: var(--board-square-rock-background);
    opacity: 1;
}

.square.PLAYER.SPAWN {
    background: var(--board-square-player-background);
    border-color: var(--board-square-player-border-color);
    opacity: 1;

    z-index: 9000;
    -webkit-animation-name: spawn;
    -webkit-animation-duration: 500ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spawn;
    -moz-animation-duration: 500ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spawn;
    -ms-animation-duration: 500ms;
    -ms-animation-iteration-count: 1;
    -ms-animation-timing-function: linear;
}

.square.PLAYER {
    background: var(--board-square-player-background);
    border-color: var(--board-square-player-border-color);
    opacity: 1;
}

.square.PLAYER_1.SPAWN {
    background: var(--board-square-player-1-background);
    border-color: var(--board-square-player-1-border-color);
    opacity: 1;

    z-index: 9000;
    -webkit-animation-name: p1_spawn;
    -webkit-animation-duration: 500ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: p1_spawn;
    -moz-animation-duration: 500ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    -ms-animation-name: p1_spawn;
    -ms-animation-duration: 500ms;
    -ms-animation-iteration-count: 1;
    -ms-animation-timing-function: linear;
}

.square.PLAYER_1 {
    background: var(--board-square-player-1-background);
    border-color: var(--board-square-player-1-border-color);
    opacity: 1;
}

.square.END {
    background: var(--board-square-end-background);
    opacity: var(--board-square-end-opacity);
    border-color: var(--board-square-end-border-color);
    padding: var(--board-square-end-padding);
    margin: var(--board-square-end-margin);
    width: var(--board-square-end-width);
    height: var(--board-square-end-height);

    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}

.square.END_HIT {
    z-index: 1;

    background: var(--board-square-end-background);
    opacity: var(--board-square-end-opacity);
    border-color: var(--board-square-end-border-color);
    padding: var(--board-square-end-padding);
    margin: var(--board-square-end-margin);
    width: var(--board-square-end-width);
    height: var(--board-square-end-height);

    -webkit-animation-name: spin_grow;
    -webkit-animation-duration: 10000ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin_grow;
    -moz-animation-duration: 10000ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin_grow;
    -ms-animation-duration: 10000ms;
    -ms-animation-iteration-count: 1;
    -ms-animation-timing-function: linear;
}

.square.EMPTY {
    -webkit-animation-name: pass_through;
    -webkit-animation-duration: 400ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: pass_through;
    -moz-animation-duration: 400ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    -ms-animation-name: pass_through;
    -ms-animation-duration: 400ms;
    -ms-animation-iteration-count: 1;
    -ms-animation-timing-function: linear;
}

.square.EMPTY_HINT {
    background: var(--board-square-hint-background);
    border-color: black;
    border-radius: 50%;
    margin: 7px;
    width: 10px;
    height: 10px;
    opacity: 1;

    -webkit-animation-name: fade_in;
    -webkit-animation-duration: 400ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: fade_in;
    -moz-animation-duration: 400ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    -ms-animation-name: fade_in;
    -ms-animation-duration: 400ms;
    -ms-animation-iteration-count: 1;
    -ms-animation-timing-function: linear;
}

.square.ROCK_HIT {
    background: var(--board-square-rock-hit-background);
    border-color: var(--board-square-rock-hit-border);
    opacity: 1;

    -webkit-animation-name: hit;
    -webkit-animation-duration: 250ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: hit;
    -moz-animation-duration: 250ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    -ms-animation-name: hit;
    -ms-animation-duration: 250ms;
    -ms-animation-iteration-count: 1;
    -ms-animation-timing-function: linear;
}

.square.ANGLE_0 {
    opacity: 1;
    margin: 3px;
    background: var(--board-square-angle-background);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid var(--app-background-color);
    border-bottom: 10px solid var(--app-background-color);
    border-top: 10px solid transparent;
}

.square.ANGLE_1 {
    opacity: 1;
    margin: 3px;
    background: var(--board-square-angle-background);
    width: 0;
    height: 0;
    border-left: 10px solid var(--app-background-color);
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--app-background-color);
    border-top: 10px solid transparent;
}

.square.ANGLE_2 {
    opacity: 1;
    margin: 3px;
    background: var(--board-square-angle-background);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid var(--app-background-color);
    border-bottom: 10px solid transparent;
    border-top: 10px solid var(--app-background-color);
}

.square.ANGLE_3 {
    opacity: 1;
    margin: 3px;
    background: var(--board-square-angle-background);
    width: 0;
    height: 0;
    border-left: 10px solid var(--app-background-color);
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-top: 10px solid var(--app-background-color);
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@-moz-keyframes spin_grow {
    from { -moz-transform: rotate(0deg) scale(1);}
    to { -moz-transform: rotate(1440deg) scale(500);}
}

@-webkit-keyframes spin_grow {
    from { -webkit-transform:rotate(0deg) scale(1);}
    to { -webkit-transform: rotate(1440deg) scale(500);}
}

@keyframes spin_grow {
    from {transform:rotate(0deg) scale(1);}
    to {transform:rotate(1440deg) scale(500);}
}

@-moz-keyframes spawn {
    from { -moz-transform:rotate(360deg) scale(10);}
    to { -moz-transform: rotate(360deg) scale(100);}
}

@-webkit-keyframes spawn {
    from { -webkit-transform:rotate(360deg) scale(10);}
    to { -webkit-transform:rotate(0deg) scale(1);}
}

@keyframes spawn {
    from {transform:rotate(360deg) scale(10);}
    to {transform:rotate(0deg) scale(1);}
}

@-moz-keyframes p1_spawn {
    from { -moz-transform:rotate(360deg) scale(10);}
    to { -moz-transform: rotate(360deg) scale(100);}
}

@-webkit-keyframes p1_spawn {
    from { -webkit-transform:rotate(360deg) scale(10);}
    to { -webkit-transform:rotate(0deg) scale(1);}
}

@keyframes p1_spawn {
    from {transform:rotate(360deg) scale(10);}
    to {transform:rotate(0deg) scale(1);}
}

@-moz-keyframes hit {
    from { -moz-transform:scale(1.5);}
    to { -moz-transform:scale(1);}
}

@-webkit-keyframes hit {
    from { -webkit-transform:scale(1.5);}
    to { -webkit-transform:scale(1);}
}

@keyframes hit {
    from {transform:scale(1.5);}
    to {transform:scale(1);}
}

@-moz-keyframes pass_through {
    from { -moz-transform:scale(0.1);}
    to { -moz-transform:scale(1);}
}

@-webkit-keyframes pass_through {
    from { -webkit-transform:scale(0.1);}
    to { -webkit-transform:scale(1);}
}

@keyframes pass_through {
    from {transform:scale(0.1);}
    to {transform:scale(1);}
}

@-moz-keyframes fade_in {
    from { -moz-transform:scale(0);}
    to { -moz-transform:scale(1);}
}

@-webkit-keyframes fade_in {
    from { -webkit-transform:scale(0);}
    to { -webkit-transform:scale(1);}
}

@keyframes fade_in {
    from {transform:scale(0);}
    to {transform:scale(1);}
}

@-moz-keyframes pulse {
    from { -moz-transform:scale(1);}
    to { -moz-transform:scale(2);}
}

@-webkit-keyframes pulse {
    from { -webkit-transform:scale(1);}
    to { -webkit-transform:scale(2);}
}

@keyframes pulse {
    from {transform:scale(1);}
    to {transform:scale(2);}
}